@mixin flex($fd, $jc, $ai, $ffr, $ffw){
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-flow: $ffr $ffw;
}

@mixin wh($w, $h){
    width: $w;
    height: $h;
}