@use 'mixins';
@font-face {
    font-family: 'aller';
    src: url(./Aller-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'aller', sans-serif;
}
h1, h4{
    font-size: 2em;
   
}
h2{
    font-size: 7em;
}
h3{
    font-size: 4em;
}

:root{
    --claro: #5a944d;
    --escuro: #051e22;
}

// CSS AGRUPADO
.relogio, .controle, .btn, .area-minutos-segundos, .numeros, .area-milesimos{
    @include mixins.flex(column, center, center);
}

// CSS CASCATA
body{
    @include mixins.wh(100vw, 100vh);
    background: var(--escuro);
    header{
        padding: 2em;
        text-transform: capitalize;
    }

    main{
        @include mixins.wh(100%, calc(100% - 7em));

        .relogio{
            flex-direction: row;

            .area-minutos-segundos{
                @include mixins.border(.5px, solid, #fff);
                @include mixins.wh(20em, 20em);
                @include mixins.circulo();

                .numeros{
                    align-items: flex-end;
                    position: absolute;
                    left: 25%;
                    right: 25%;

                    h3{
                        margin-top: -.5em;
                    }
                }
            }
            .active{
                animation: animacao 1s infinite;
            }
            .area-milesimos{
                @include mixins.wh(5em, 5em);
                @include mixins.circulo();
                bottom: -6em;
                right: 4em;

                #milesimos{
                    position: absolute;
                    left: 10%;
                    right: 25%;

                }
            }
            
        }
        .controle{
            @include mixins.wh(100%, auto);
            flex-direction: row;
            padding: 2em 0;
            .btn{
                border: none;
                border-radius: 50%;
                margin: 0 1em;
                padding: 1em;

                i{
                    font-size: 3em;
                    color: #051e22;
                }
            }

            #btnPausar, #btnContinuar, #btnResetar{
                display: none;
            }
        }
    }
}

@keyframes animacao {
    0%{ box-shadow: 3px 3px 5px #5a944d;}
    25%{ box-shadow: 3px -3px 5px #5a944d;}
    50%{box-shadow: -3px -3px 5px #5a944d;}
    75%{ box-shadow: -3px 3px 5px #5a944d;}
    100%{ box-shadow: 3px 3px 5px #5a944d;}
}