@font-face {
    font-family: 'retro';
    src: url(./Retro\ Gaming.ttf);
}
@font-face {
    font-family: 'aller';
    src: url(./Aller-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 2em;
    font-family: 'aller', sans-serif;
    color: #fff;
}
h2{
    font-size: 7em;
}
h3{
    font-size: 4em;
}
h4{
    font-size: 2em;
}

:root{
    --claro: #5a944d;
    --escuro: #051e22;
}

// CSS AGRUPADO
main, .relogio, .controle, .btn, .area-minutos-segundos, .numeros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// CSS CASCATA
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, var(--escuro) 60%, var(--claro));
    header{
        padding: 2em;
    }

    main{
        width: 100%;
        height: calc(100% - 7em);

        .tempo{
            font-family: 'retro', sans-serif;
            color: #fff;
        }

        .relogio{
            flex-direction: row;
            .area-minutos-segundos{
                width: 20em;
                height: 20em;
                align-items: flex-end;
                border-radius: 10em;
                box-shadow: 3px 3px 10px #ffffff41;
                background: linear-gradient(135deg, var(--claro), var(--escuro) 30%);

                position: relative;

                .numeros{
                    align-items: flex-end;
                    position: absolute;
                    left: 25%;
                    right: 25%;

                }
            }
            
        }
        .controle{
            flex-direction: row;
            .btn{
                border: none;
                border-radius: 50%;
                padding: 1em;

                i{
                    font-size: 3em;
                }
            }

            #btnPausar, #btnContinuar, #btnResetar{
                display: none;
            }
        }
    }
}

